OPENAI_API_KEY=<OPENAI_API_KEY>
DD_API_KEY=<DD_API_KEY>
DD_SITE=<DD_SITE>
DD_LLMOBS_ML_APP=<DD_LLMOBS_ML_APP>
DD_LLMOBS_AGENTLESS_ENABLED=<DD_LLMOBS_AGENTLESS_ENABLED>
DD_ENV=<DD_ENV>
DD_VERSION=<DD_VERSION>
DD_SERVICE=<DD_SERVICE>
DD_TRACE_AGENT_URL=<DD_TRACE_AGENT_URL>
DD_TRACE_DEBUG=<DD_TRACE_DEBUG>